block header
    style.
        form {
            --background: white;
            --border: rgba(0, 0, 0, 0.125);
            --borderDark: rgba(0, 0, 0, 0.25);
            --borderDarker: rgba(0, 0, 0, 0.5);
            --bgColorH: 0;
            --bgColorS: 0%;
            --bgColorL: 98%;
            --fgColorH: 210;
            --fgColorS: 50%;
            --fgColorL: 38%;
            --shadeDark: 0.3;
            --shadeLight: 0.7;
            --shadeNormal: 0.5;
            --borderRadius: 0.125rem;
            --highlight: #306090;
            background: white;
            border: 1px solid var(--border);
            border-radius: var(--borderRadius);
            box-shadow: 0 1rem 1rem -0.75rem var(--border);
            display: flex;
            flex-direction: column;
            padding: 1rem;
            position: relative;
            overflow: hidden;
        }

        .topa{
            margin: auto;
            width: 100%;
            border: 5px;
            padding: 10px;
        }

        .clegend{
            font-family: 'Calisto MT';
        }

        .hdd{
            font-family: 'Calisto MT';
            font-size: 25px;
        }

        @media screen and (max-width: 720px) {
            body{
                margin:0px;
                font-family: "Times New Roman", Times, serif;
                }
            .topa{
                margin:auto;
                padding:1%;
                width:100%;
                border: 0px;
                padding: 1%;
            }
            .hdd{
                font-family: "Times New Roman", Times, serif;
                font-size: 16px;
            }

            .clegend{
                font-size:25px;
                font-family: "Times New Roman", Times, serif;
            }

            form {
                width: 98%;
                position: relative;
                margin-bottom: 20px;
            }
        }

block content
    div(style={"overflow":"auto", "height":"85vh"}, id="div")
        p(class='hdd') Use this panel to add Sub Course and Topics
        hr
        .row(style={"margin-left":"1%", "width":"96%"})
            .row
                .col-md-4
                    button(onclick="myFunction()" class="btn btn-primary") Click Me
                .col-md-8
                    h6(style={"margin-top":"10px"}) To Add Sub Course(s)
            hr
            div(id="myDIV")
                .row
                    .col-md-6
                        div(class='topa')
                            form(id="scsc")
                                legend
                                    center
                                        h2
                                            b( class='clegend') Add Sub Course
                                div(class="form-group")
                                    label(for='course') Course
                                    select.custom-select(style={"margin-right": "2%"}, id="cs", name="course", onchange="getSC1()")
                                        option(selected='', value='') Select Course
                                        option(value='pth') Pathology
                                        option(value='phm') Pharmacology
                                        option(value='sgy') Surgery
                                        option(value='mdc') Medicine
                                        option(value='obg') Obstetrics and Gynecology
                                        option(value='pea') Paediatrics
                                div(class="form-group")
                                    label(for='subCourse') Sub Course(s)
                                    input(type="text" class="form-control" id="scs" name="subCourse" style={"margin-right": "10px"})

                                a(href="javascript:subCourse()" style={ "margin-top":"20px"} class="btn btn-primary") Add Sub Course(s)
                                br
                    
                    .col-md-6()
                        h4(style={"margin-top":"10px"}) Sub Courses Entered
                        hr
                        .row
                            .col-md-4
                                h6(style={"text-align":"center"}) Course
                            .col-md-8
                                h6(id="cname", style={"text-align":"center"})
                        hr
                        .row
                            .col-md-4.float-right
                                h6(style={"text-align":"center"}) Sub Course(s)
                            .col-md-8
                                div(style={"overflow":"auto", "max-height":"30vh"})
                                    table(id="sctable")
                                        

                
        .row(style={"margin-left":"1%", "width":"96%", "margin-top":"10px"})
            .row
                .col-md-4
                    button(onclick="myFunction2()" class="btn btn-primary") Click Me
                .col-md-8
                    h6(style={"margin-top":"10px", "margin-left":"12px"}) To Add Topic(s)
            hr
            div(id="myDIV2")
                .row
                    .col-md-6
                        div(class='topa')
                            form
                                legend
                                    center
                                        h2
                                            b( class='clegend') Add Topic
                                div(class="form-group")
                                    label(for='course') Course
                                    select.custom-select(style={"margin-right": "1%"}, name="course", id="cs1" onchange="getSC()")
                                        option(selected='') Select Course
                                        option(value='pth') Pathology
                                        option(value='phm') Pharmacology
                                        option(value='sgy') Surgery
                                        option(value='mdc') Medicine
                                        option(value='obg') Obstetrics and Gynecology
                                        option(value='pea') Paediatrics
                                div(class="form-group")
                                    label(for='subCourse') Sub Course
                                    select.custom-select(style={"margin-right": "1%"},  name="SubCourse", id="cs2", onchange="getTopics1()")
                                        option(selected='')  Sub Course           
                                div(class="form-group")
                                    label(for='tp') Topic(s)
                                    input(type="text" id="tp" class="form-control" name="tp" style={"margin-right": "1%"})

                                a(href="javascript:Topic()" style={"margin-top":"20px"} class="btn btn-primary") Add Topic(s)
                    
                    .col-md-6
                        h4 Topics Entered
                        .row
                            .col-md-4
                                h6(style={"text-align":"center"}) Course
                            .col-md-8
                                h6(id="cname1", style={"text-align":"center"})
                        .row
                            .col-md-4
                                h6(style={"text-align":"center"}) Sub Course
                            .col-md-8
                                h6(id="subc", style={"text-align":"center"})
                        hr
                        .row
                            .col-md-4.float-right
                                h6(style={"text-align":"center"}) Topic(s)
                            .col-md-8
                                div(style={"overflow":"auto", "max-height":"30vh"})
                                    table(id="tptable")

        .row(style={"margin-left":"1%", "width":"96%", "margin-top":"10px"})
            .row
                .col-md-3
                    button(onclick="myFunction3()" class="btn btn-primary") Click Me
                .col-md-9
                    h6(style={"margin-top":"10px"}) To Delete Sub Course(s) and Topic(s)
            hr
            div(id="myDIV3")
                .row
                    .col-md-6
                        div(class='topa')
                            form(id="scsc")
                                legend
                                    center
                                        h2
                                            b( class='clegend') Delete Sub Course
                                div(class="form-group")
                                    label(for='course') Course
                                    select.custom-select(style={"margin-right": "2%"}, id="csd", name="course", onchange="getSCD()")
                                        option(selected='', value='') Select Course
                                        option(value='pth') Pathology
                                        option(value='phm') Pharmacology
                                        option(value='sgy') Surgery
                                        option(value='mdc') Medicine
                                        option(value='obg') Obstetrics and Gynecology
                                        option(value='pea') Paediatrics
                                            
                                div(class="form-group")
                                        label(for='subCourse') Sub Course(s)
                                        select.custom-select(style={"margin-right": "2%"},  name="SubCourse", id="scsd")
                                            option(selected='')  Sub Course
                                
                                a(href="javascript:delSC()" style={"margin-top":"20px"} class="btn btn-primary float-right") Delete Sub Course
                        h6(style={"text-align":"center"}, class="alert alert-danger", id ="not1")

                    .col-md-6
                        div(class='topa')
                            form( action="/register" method="post")
                                legend
                                    center
                                        h2
                                            b( class='clegend') Delete Topic
                                .row
                                    .col-md-6
                                        div(class="form-group")
                                            label(for='course') Course
                                            select.custom-select(style={"margin-right": "2%"}, name="course", id="csdt1" onchange="getSCDT()")
                                                option(selected='', value='') Select Course
                                                option(value='pth') Pathology
                                                option(value='phm') Pharmacology
                                                option(value='sgy') Surgery
                                                option(value='mdc') Medicine
                                                option(value='obg') Obstetrics and Gynecology
                                                option(value='pea') Paediatrics

                                    .col-md-6
                                        div(class="form-group")
                                            label(for='SubCourse') Sub Course
                                            select.custom-select(style={"margin-right": "2%"},  name="SubCourse", id="scdtopic", onchange="getTopicsDT()")
                                                option(selected='')  Sub Course
                                div(class="form-group")
                                    label(for='topic') Topic
                                    select.custom-select(style={"margin-right": "2%"},  name="topic", id="topicsdt", onchange="#")
                                        option(selected='')  Topic

                                a(href="javascript:delTopi()" style={"margin-top":"20px",} class="btn btn-primary float-right") Delete Topic
            
                                        

block scripts
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.bundle.min.js')
    script.
        //for Adding Subcourse
        function getSC1() {
            var data = {course: $("#cs").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getsc',
                data: data,
                
            })
            .done(function(e){
                window.reloadTable("sctable");
                $("#cname").html((e.c).toUpperCase());
                $.each(e.sc, function(i){
                    var table = document.getElementById("sctable");
                    var row = table.insertRow();
                    var cell1 = row.insertCell(0);
                    cell1.innerHTML = e.sc[i];
                })
            });
        }

        function subCourse() {
            var data = {course: $("#cs").val(), subCourse: $("#scs").val()};
            var d = ($("#scs").val()).split(",");
            $.each(d, function(i){
                var table = document.getElementById("sctable");
                var row = table.insertRow();
                var cell1 = row.insertCell(0);
                cell1.innerHTML = d[i];
            })
            document.getElementById("scs").value = "";
            $.ajax({
                type: 'post',
                url: '/addsc',
                data: data
            })
            .done(function(e){
                
            });
            //alert(`c: ${c}`);
        }

        //For Adding Topics
        function getSC() {
            var data = {course: $("#cs1").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getsct',
                data: data,
                
            })
            .done(function(e){
                window.reloadTable("cs2");
                $.each(e.sc, function(i){
                    var x = document.getElementById("cs2");
                    var c = document.createElement("option");
                    c.text = e.sc[i];
                    x.options.add(c, (i+1));
                })
            });
        }

        function getTopics1() {
            var data = {course: $("#cs1").val(), SubCourse: $("#cs2").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/gettopics',
                data: data,
                
            })
            .done(function(e){
                //$('.div').html(e);
                window.reloadTable("tptable");
                $("#cname1").html((e.c).toUpperCase());
                $("#subc").html((e.sc).toUpperCase());
                $.each(e.topics, function(i){
                    var table = document.getElementById("tptable");
                    var row = table.insertRow();
                    var cell1 = row.insertCell(0);
                    cell1.innerHTML = e.topics[i];
                })
            });
        }

        function Topic() {
            var data = {course: $("#cs1").val(), subCourse: $("#cs2").val(), topic: $("#tp").val()};
            var f = ($("#tp").val()).split(",");
            $.each(f, function(i){
                var table = document.getElementById("tptable");
                var row = table.insertRow();
                var cell1 = row.insertCell(0);
                cell1.innerHTML = f[i];
            });
            document.getElementById("tp").value = "";
            $.ajax({
                type: 'post',
                url: '/addtopic',
                data: data
            })
            .done(function(e){

            });
        }

        //Delete Subcourse
        function getSCD() {
            var data = {course: $("#csd").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getsct',
                data: data,
                
            })
            .done(function(e){
                window.reloadTable("scsd");
                $.each(e.sc, function(i){
                    var x = document.getElementById("scsd");
                    var c = document.createElement("option");
                    c.text = e.sc[i];
                    x.options.add(c, (i+1));
                })
            });
        }

        function delSC() {
            var data = {course: $("#csd").val(), SubCourse: $("#scsd").val()};
            $.ajax({
                type: 'post',
                url: '/delsc',
                data: data
            })
            .done(function(e){
               $('#not1').html(e);
               getSCD()
            });
        }

        //delete Topic
        function getTopicsDT() {
            var data = {course: $("#csdt1").val(), SubCourse: $("#scdtopic").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/gettopicst',
                data: data,
                
            })
            .done(function(e){
                window.reloadTable("topicsdt");
                $.each(e.topics, function(i){
                    var x = document.getElementById("topicsdt");
                    var c = document.createElement("option");
                    c.text = e.topics[i];
                    x.options.add(c, (i+1));
                })
            });
        }

        function getSCDT() {
            var data = {course: $("#csdt1").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getsct',
                data: data,
                
            })
            .done(function(e){
                window.reloadTable("scdtopic");
                $.each(e.sc, function(i){
                    var x = document.getElementById("scdtopic");
                    var c = document.createElement("option");
                    c.text = e.sc[i];
                    x.options.add(c, (i+1));
                })
            });
        }

        function delTopi() {
            var data = {course: $("#csdt1").val(), topic: $("#topicsdt").val()};
            $.ajax({
                type: 'post',
                url: '/deltopic',
                data: data
            })
            .done(function(e){
                $('#not1').html(e);
                getTopicsDT();
            });
        }

        

        

        

        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction2() {
            var x = document.getElementById("myDIV2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction3() {
            var x = document.getElementById("myDIV3");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        
        /*$('#cs2').on('change', function() {
            var data = {course: $("#cs1").val(), SubCourse: $("#cs2").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getTopics',
                data: data,
                
            })
            .done(function(e){
                $('.div').html(e);
                //window.reloadTable("sctable");
                $("#cname1").html((e.c).toUpperCase());
                $("#subc").html((e.sc).toUpperCase());
                $.each(e.topics, function(i){
                    var table = document.getElementById("tptable");
                    var row = table.insertRow();
                    var cell1 = row.insertCell(0);
                    cell1.innerHTML = e.topics[i];
                })
            });
        });*/

        function topic() {
            var data = {course: $("#cs1").val(), subCourse: $("#cs2").val(), topic: $("#tp").val()};
            $.ajax({
                type: 'post',
                url: '/addtopic',
                data: data
            })
            .done(function(e){
                $('.div').html(e);
            });
        }

        function reloadTable(idd){
            container = document.getElementById(idd);
            container.innerHTML = ""; 
        }