extend layout

block content
    .salis(style={"margin-left":"15%","margin-right":"15%", "border":"Solid", "border-color":"blue","background-color":"lightblue", "height":"85vh","overflow":"auto", "margin-top":"1%"})
        h2(style={"text-align":"center", "margin-top":"2%"}) Add Past Question
        hr
        form(action="/addpq" method="post" enctype="multipart/form-data")
            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-3
                    p(style={"margin-top":"10px",}) Past Question
                .col-md-9
                    select.custom-select(style={"margin-right": "10px"}, name="pastq", id="pastq")
                        option(selected='') Select Past Question
                        - if(data.length > 0)
                            - for(i of data)
                                option(value=`${i}`) !{i}
            hr
            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-9
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Question
                    input(type="text" class="form-control" name="Question" style={"margin-right": "10px"} id="que")
                .col-md-3
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Picture (If any)
                    input(type="file" class="form-control" name="question_pic" style={"margin-right": "10px"} id="pic")
            
            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-2
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Option 1
                .col-md-7
                    input(type="text" class="form-control" name="opt1" style={"margin-top":"10px","margin-right": "10px"} id="opt1")
                .col-md-3
                    select.custom-select(style={"margin-top":"10px","margin-right": "10px"}, id="ans1" name="ans1")
                        option(selected='') Select Answer
                        option(value='T') True
                        option(value='F') False

            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-2
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Option 2
                .col-md-7
                    input(type="text" class="form-control" name="opt2" style={"margin-top":"10px","margin-right": "10px"} id="opt2")
                .col-md-3
                    select.custom-select(style={"margin-top":"10px","margin-right": "10px"}, id="ans2" name="ans2")
                        option(selected='') Select Answer
                        option(value='T') True
                        option(value='F') False

            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-2
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Option 3
                .col-md-7
                    input(type="text" class="form-control" name="opt3" style={"margin-top":"10px","margin-right": "10px"} id="opt3")
                .col-md-3
                    select.custom-select(style={"margin-top":"10px","margin-right": "10px"}, id="ans3" name="ans3")
                        option(selected='') Select Answer
                        option(value='T') True
                        option(value='F') False

            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-2
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Option 4
                .col-md-7
                    input(type="text" class="form-control" name="opt4" style={"margin-top":"10px","margin-right": "10px"} id="opt4")
                .col-md-3
                    select.custom-select(style={"margin-top":"10px","margin-right": "10px"}, id="ans4" name="ans4")
                        option(selected='') Select Answer
                        option(value='T') True
                        option(value='F') False

            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-2
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Option 5
                .col-md-7
                    input(type="text" class="form-control" name="opt5" style={"margin-top":"10px","margin-right": "10px"} id="opt5")
                .col-md-3
                    select.custom-select(style={"margin-top":"10px","margin-right": "10px"}, id="ans5" name="ans5")
                        option(selected='') Select Answer
                        option(value='T') True
                        option(value='F') False

            button(type='submit' style={"color":"white", "width":"90%", "margin-top":"10px", "margin-right":"5%", "margin-left":"5%"} class='btn btn-primary' ) Save Question
                                                              

block scripts
    script.