extend layout

block content
    .salis(style={"margin-left":"15%","margin-right":"15%", "border":"Solid", "border-color":"blue","background-color":"lightblue", "height":"85vh","overflow":"auto", "margin-top":"1%"})
        h2(style={"text-align":"center", "margin-top":"2%"}) Add Question
        hr

        form( action="/saveque" method="post" enctype="multipart/form-data")
            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-3
                    p(style={"margin-right": "10px"}) Course
                    select.custom-select(style={"margin-right": "10px"}, name="course", onchange="getSCDT()", id="csdt1")
                        option(selected='') Select Course
                        option(value='ana') Anatomy
                        option(value='phy') Physiology
                        option(value='bio') Biochemistry
                        option(value='fmt') Forensic Medicine and Toxicology
                        option(value='mcb') Microbiology
                        option(value='pth') Pathology
                        option(value='phm') Pharmacology
                        option(value='ans') Anesthesiology
                        option(value='cms') Community Medicine
                        option(value='dav') Dermatology and Venereology
                        option(value='obg') Obstetrics and Gynecology
                        option(value='opt') Ophthalmology
                        option(value='ort') Orthopaedics
                        option(value='oto') Otorhinolaryngology
                        option(value='pea') Paediatrics
                        option(value='psy') Psychiatry
                        option(value='sgy') Surgery
                        
                    
                .col-md-3
                    p(style={"margin-right": "10px"}) Sub Course
                    select.custom-select(style={"margin-right": "2%"},  name="subCourse", id="scs2", onchange="getTopicsDT()")
                        option(selected='')  Sub Course

                .col-md-3
                    p(style={"margin-right": "10px"}) Topic
                    select.custom-select(style={"margin-right": "2%"},  name="topic", id="scdtopic", onchange="#")
                        option(selected='')  Topic
                    
                .col-md-3
                    p(style={"margin-right": "10px"}) Question Type
                    select.custom-select(style={"margin-right": "10px"}, name="qType", id="qtype")
                        option(selected='') Select Course
                        option(value='mcq') MCQ
                        option(value='scq') SCQ
            hr
            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-9
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Question
                    input(type="text" class="form-control" name="Question" style={"margin-right": "10px"} id="que")
                .col-md-3
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Picture (If any)
                    input(type="file" class="form-control" name="question_pic" style={"margin-right": "10px"} id="pic")
            
            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-2
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Option 1
                .col-md-7
                    input(type="text" class="form-control" name="opt1" style={"margin-top":"10px","margin-right": "10px"} id="opt1")
                .col-md-3
                    select.custom-select(style={"margin-top":"10px","margin-right": "10px"}, id="ans1" name="ans1")
                        option(selected='') Select Answer
                        option(value='T') True
                        option(value='F') False

            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-2
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Option 2
                .col-md-7
                    input(type="text" class="form-control" name="opt2" style={"margin-top":"10px","margin-right": "10px"} id="opt2")
                .col-md-3
                    select.custom-select(style={"margin-top":"10px","margin-right": "10px"}, id="ans2" name="ans2")
                        option(selected='') Select Answer
                        option(value='T') True
                        option(value='F') False

            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-2
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Option 3
                .col-md-7
                    input(type="text" class="form-control" name="opt3" style={"margin-top":"10px","margin-right": "10px"} id="opt3")
                .col-md-3
                    select.custom-select(style={"margin-top":"10px","margin-right": "10px"}, id="ans3" name="ans3")
                        option(selected='') Select Answer
                        option(value='T') True
                        option(value='F') False

            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-2
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Option 4
                .col-md-7
                    input(type="text" class="form-control" name="opt4" style={"margin-top":"10px","margin-right": "10px"} id="opt4")
                .col-md-3
                    select.custom-select(style={"margin-top":"10px","margin-right": "10px"}, id="ans4" name="ans4")
                        option(selected='') Select Answer
                        option(value='T') True
                        option(value='F') False

            .row(style={"width":"98%", "margin-left":"15px"})
                .col-md-2
                    p(style={"margin-top":"10px", "margin-right": "10px"}) Option 5
                .col-md-7
                    input(type="text" class="form-control" name="opt5" style={"margin-top":"10px","margin-right": "10px"} id="opt5")
                .col-md-3
                    select.custom-select(style={"margin-top":"10px","margin-right": "10px"}, id="ans5" name="ans5")
                        option(selected='') Select Answer
                        option(value='T') True
                        option(value='F') False

            button(type='submit' style={"color":"white", "width":"90%", "margin-top":"10px", "margin-right":"5%", "margin-left":"5%"} class='btn btn-primary' ) Save Question
        //a(href="javascript:Summit()" style={"color":"white", "width":"90%", "margin-top":"10px", "margin-right":"5%", "margin-left":"5%"} class="btn btn-primary") Save Question
            

block scripts
    script.
        /*function Summit() {
            var data = {course: $("#csdt1").val(), SubCourse: $("#scs2").val(), topic:$("#scdtopic").val(), qtype:$("#qtype").val(), que:$("#que").val(), opt1:$("#opt1").val(), ans1:$("#ans1").val(), opt2:$("#opt2").val(), ans2:$("#ans2").val(), opt3:$("#opt3").val(), ans3:$("#ans3").val(), opt4:$("#opt4").val(), ans4:$("#ans4").val(), opt5:$("#opt5").val(), ans5:$("#ans5").val(), pic:$("#pic").val() };
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/saveque',
                data: data,
                
            })
            .done(function(e){
                
            });
        }*/

        function getTopicsDT() {
            var data = {course: $("#csdt1").val(), SubCourse: $("#scs2").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/gettopics',
                data: data,
                
            })
            .done(function(e){
                $.each(e.topics, function(i){
                    var x = document.getElementById("scdtopic");
                    var c = document.createElement("option");
                    c.text = e.topics[i];
                    x.options.add(c, (i+1));
                })
            });
        }

        function getSCDT() {
            var data = {course: $("#csdt1").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getsc',
                data: data,
                
            })
            .done(function(e){
                //window.reloadTable("sctable");
                $.each(e.sc, function(i){
                    var x = document.getElementById("scs2");
                    var c = document.createElement("option");
                    c.text = e.sc[i];
                    x.options.add(c, (i+1));
                })
            });
        }