extend layout
block header
    link(rel='stylesheet', href='/stylesheets/slider.css')
    style.
        form {
            --background: white;
            --border: rgba(0, 0, 0, 0.125);
            --borderDark: rgba(0, 0, 0, 0.25);
            --borderDarker: rgba(0, 0, 0, 0.5);
            --bgColorH: 0;
            --bgColorS: 0%;
            --bgColorL: 98%;
            --fgColorH: 210;
            --fgColorS: 50%;
            --fgColorL: 38%;
            --shadeDark: 0.3;
            --shadeLight: 0.7;
            --shadeNormal: 0.5;
            --borderRadius: 0.125rem;
            --highlight: #306090;
            background: white;
            border: 1px solid var(--border);
            border-radius: var(--borderRadius);
            box-shadow: 0 1rem 1rem -0.75rem var(--border);
            display: flex;
            flex-direction: column;
            padding: 1rem;
            position: relative;
            overflow: hidden;
        }

        .topa{
            width:60%;
            margin: auto;
            border: 1%;
            padding: 10px;
        }
        .hdd{
            font-family: 'Calisto MT';
            font-size: 25px;
        }

        .clegend{
            font-family: 'Calisto MT';
        }
        .qnu{
            margin-top:20px; 
            margin-right: 10px;
            text-align: center;
            font-weight: bold;
        }

        .qnu1{
            width:22%;
            margin: auto;
            border: 1%;
            padding: 10px;
        }

        .pp{
            margin-top:10px;
            margin-right: 10px;
        }

        @media screen and (max-width: 720px) {
            body{
                margin:0px;
                font-family: "Times New Roman", Times, serif
            }
            .hdd{
                font-family: "Times New Roman", Times, serif;
                font-size: 16px;
            }
            .topa{
                width:  100%;
                margin: auto;
                border: 5px;
                padding: 1%;
            }
            .clegend{
                font-size:25px;
                font-family: "Times New Roman", Times, serif;
            }
            .qnu{
                margin-top:20px; 
                text-align: center;
                font-weight: bold;
                float:'left';
            }

            .pp{
                margin-top:0px;
                margin-right: 0px;
            }
            
        }
block content
    if(data)
        div(class="alert alert-success" role="alert" style={'text-align':'center'}) !{data}
    div(class='topa')
        form( action="/add_question" method="post" enctype="multipart/form-data" class="needs-validation" novalidate)
            legend
                center
                    h2
                        b( class='clegend') Add Question
            .row
                .col-md-3
                    div(class="form-group")
                        label(for='course') Course
                        select.custom-select(style={"margin-right": "10px"}, name="course", onchange="getSCDT()", id="csdt1" required)
                            option(value='' disabled selected) Select Course
                            option(value='pth') Pathology
                            option(value='phm') Pharmacology
                            option(value='sgy') Surgery
                            option(value='mdc') Medicine
                        div(class="invalid-feedback") Please choose a Course.
                        
                    
                .col-md-3
                    div(class="form-group")
                        label(for='subCourse') Sub Course
                        select.custom-select(style={"margin-right": "2%"},  name="subCourse", id="scs2", onchange="getTopicsDT()" required)
                            option(value='' disabled selected)  Sub Course
                        div(class="invalid-feedback") Please choose a Sub Course.

                .col-md-3
                    div(class="form-group")
                        label(for='topic') Topic
                        select.custom-select(style={"margin-right": "2%"},  name="topic", id="scdtopic", onchange="#" required)
                            option(value='' disabled selected)  Topic
                        div(class="invalid-feedback") Please choose a Topic.
                    
                .col-md-3
                    div(class="form-group")
                        label(for='qType') Question Type
                        select.custom-select(style={"margin-right": "10px"}, name="qType", id="qtype" required)
                            option(value='' disabled selected) Select Type
                            option(value='mcq') MCQ
                        div(class="invalid-feedback") Please choose a Type. 
            .row
                .col-md-9
                    div(class="form-group")
                        label(for='Question') Question
                        input(type="text" class="form-control" name="Question" style={"margin-right": "10px"} id="que" required)
                        div(class="invalid-feedback") Please Enter a Question.
                .col-md-3
                    div(class="form-group")
                        label(for='question_pic') Picture (If any)
                        input(type="file" class="form-control" name="question_pic" style={"margin-right": "10px"} id="pic")
            
            .row
                .col-md-9
                    div(class="form-group")
                        label(for='opt1') Option 1
                        input(type="text" class="form-control" name="opt1" id="opt1" required)
                        div(class="invalid-feedback") Please Enter an Option.
                .col-md-3
                    div(class="form-group")
                        label(for='ans1') Answer 1
                        select.custom-select( id="ans1" name="ans1" required)
                            option(value='' disabled selected) Select Answer
                            option(value='T') True
                            option(value='F') False
                        div(class="invalid-feedback") Please Select an Answer.

            .row
                .col-md-9
                    div(class="form-group")
                        label(for='opt2') Option 2
                        input(type="text" class="form-control" name="opt2" id="opt2" required)
                        div(class="invalid-feedback") Please Enter an Option.
                .col-md-3
                    div(class="form-group")
                        label(for='ans2') Answer 2
                        select.custom-select( id="ans2" name="ans2" required)
                            option(value='' disabled selected) Select Answer
                            option(value='T') True
                            option(value='F') False
                        div(class="invalid-feedback") Please Select an Answer

            .row
                .col-md-9
                    div(class="form-group")
                        label(for='opt3') Option 3
                        input(type="text" class="form-control" name="opt3" id="opt3" required)
                        div(class="invalid-feedback") Please Enter an Option.
                .col-md-3
                    div(class="form-group")
                        label(for='ans3') Answer 3
                        select.custom-select( id="ans3" name="ans3" required)
                            option(value='' disabled selected) Select Answer
                            option(value='T') True
                            option(value='F') False
                        div(class="invalid-feedback") Please Select an Answer.

            .row
                .col-md-9
                    div(class="form-group")
                        label(for='opt4') Option 4
                        input(type="text" class="form-control" name="opt4" id="opt4" required)
                        div(class="invalid-feedback") Please Enter an Option.
                .col-md-3
                    div(class="form-group")
                        label(for='ans4') Answer 4
                        select.custom-select( id="ans4" name="ans4" required)
                            option(value='' disabled selected) Select Answer
                            option(value='T') True
                            option(value='F') False
                        div(class="invalid-feedback") Please Select an Answer.

            .row
                .col-md-9
                    div(class="form-group")
                        label(for='opt5') Option 5
                        input(type="text" class="form-control" name="opt5" id="opt5" required)
                        div(class="invalid-feedback") Please Enter an Option.
                .col-md-3
                    div(class="form-group")
                        label(for='ans5') Answer 5
                        select.custom-select(id="ans5" name="ans5" required)
                            option(value='' disabled selected) Select Answer
                            option(value='T') True
                            option(value='F') False
                        div(class="invalid-feedback") Please Select an Answer.

            button(type='submit' style={"margin-top":"10px"} class='btn btn-primary' ) Save Question
        //a(href="javascript:Summit()" style={"color":"white", "width":"90%", "margin-top":"10px", "margin-right":"5%", "margin-left":"5%"} class="btn btn-primary") Save Question
            

block scripts
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.bundle.min.js')
    script.
        /*function Summit() {
            var data = {course: $("#csdt1").val(), SubCourse: $("#scs2").val(), topic:$("#scdtopic").val(), qtype:$("#qtype").val(), que:$("#que").val(), opt1:$("#opt1").val(), ans1:$("#ans1").val(), opt2:$("#opt2").val(), ans2:$("#ans2").val(), opt3:$("#opt3").val(), ans3:$("#ans3").val(), opt4:$("#opt4").val(), ans4:$("#ans4").val(), opt5:$("#opt5").val(), ans5:$("#ans5").val(), pic:$("#pic").val() };
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/saveque',
                data: data,
                
            })
            .done(function(e){
                
            });
        }*/

        function getTopicsDT() {
            var data = {course: $("#csdt1").val(), SubCourse: $("#scs2").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/gettopics',
                data: data,
                
            })
            .done(function(e){
                $.each(e.topics, function(i){
                    var x = document.getElementById("scdtopic");
                    var c = document.createElement("option");
                    c.text = e.topics[i];
                    x.options.add(c, (i+1));
                })
            });
        }

        function getSCDT() {
            var data = {course: $("#csdt1").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getsc',
                data: data,
                
            })
            .done(function(e){
                //window.reloadTable("sctable");
                $.each(e.sc, function(i){
                    var x = document.getElementById("scs2");
                    var c = document.createElement("option");
                    c.text = e.sc[i];
                    x.options.add(c, (i+1));
                })
            });
        }
    
        (function() {
            'use strict';
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                    });
                }, false);
            })();