extend layout
block header
    style.
        form {
            --background: white;
            --border: rgba(0, 0, 0, 0.125);
            --borderDark: rgba(0, 0, 0, 0.25);
            --borderDarker: rgba(0, 0, 0, 0.5);
            --bgColorH: 0;
            --bgColorS: 0%;
            --bgColorL: 98%;
            --fgColorH: 210;
            --fgColorS: 50%;
            --fgColorL: 38%;
            --shadeDark: 0.3;
            --shadeLight: 0.7;
            --shadeNormal: 0.5;
            --borderRadius: 0.125rem;
            --highlight: #306090;
            background: white;
            border: 1px solid var(--border);
            border-radius: var(--borderRadius);
            box-shadow: 0 1rem 1rem -0.75rem var(--border);
            display: flex;
            flex-direction: column;
            padding: 1rem;
            position: relative;
            overflow: hidden;
        }

        .topa{
            width:720px;
            transform: translate(-50%, -50%);
            position: absolute;
            top:50%; 
            left: 50%;
        }

        @media screen and (max-width: 720px) {
            body{margin:0px;}
            .topa{
                margin:0 auto;
                padding:1%;
                width:96%;
                top: 10%;
                left:50%;
            }

            form {
                position: absolute;
                margin-bottom: 20px;
            }
        }

block content
    div(class='topa')
        form(action="/register" method="post" enctype="multipart/form-data")
            legend
                center
                    h2
                        b(style={'font-family': 'Calisto MT'}) Registration Form
            .row
                .col-md-6
                    div(class="form-group")
                        label(for="fname") First Name
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") 
                                    i(class="fas fa-user")
                            input(type="text" class="form-control" name='fname' id="fname" placeholder="First Name")
                    div(class="form-group")
                        label(for="lname") Last Name
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") 
                                    i(class="fas fa-user")
                            input(type="text" class="form-control" name='lname' id="lname" placeholder="Last Name")
                    div(class="form-group")
                        label(for="school") School
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") 
                                    i(class="fas fa-school")
                            input(type="text" class="form-control" name='school' id="school" placeholder="School")
                    div(class="form-group")
                        label(for="dept") Department
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") 
                                    i(class="fas fa-school")
                            input(type="text" class="form-control" id="dept" name='dept' placeholder="Department")
                    div(class="form-group")
                        label(for="lvl") Level
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") 
                                    i(class="fas fa-school")
                            input(type="text" class="form-control" id="lvl" name='lvl' placeholder="Level")
                .col-md-6
                    div(class="form-group")
                        label(for="email") Email
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") 
                                    i(class="fas fa-envelope-square")
                            input(type="text" class="form-control" id="email" name='email' placeholder="Email")
                    div(class="form-group")
                        label(for="user") Username
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") 
                                    i(class="fas fa-user")
                            input(type="text" class="form-control" id="user" name='user' placeholder="Username")
                    div(class="form-group")
                        label(for="pwd") Password
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") 
                                    i(class="fas fa-key")
                            input(type="password" class="form-control" id="pwd" name='pwd' placeholder="Password")
                    div(class="form-group")
                        label(for="cpwd") Comfirm Password
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") 
                                    i(class="fas fa-key")
                            input(type="password" class="form-control" id="cpwd" name='cpwd' placeholder="Comfirm Password")
                    div(class="form-group")
                        label(for="pic") Profile Pic(Optional)
                        div(class="input-group mb-2")
                            div(class="input-group-prepend")
                                div(class="input-group-text") 
                                    i(class="fas fa-portrait")
                            input(type="file" class="form-control" id="pic" name='pic' placeholder="Password")
            button(type='submit' class='btn btn-primary' id="rmf3b") Register
        

                