extend layout

block content
    div(class="sidenav")
        a(href="javascript:as()" class="daa") Overview
        a(href="javascript:adminque()" class="daa") Questions
        a(href="javascript:adminapr()" class="daa") Approve
        a(href="javascript:as()" class="daa") Account

    div(class="main", style={"overflow" : "auto"})
        h4 Welcome to admin panel

    

block scripts
    script.
        function adminque(){
            $.ajax({
                url: '/adminque',
            })
            .done(function(e){
                $('.main').html(e);
            });
            
        }
        function adminapr(){
            $.ajax({
                url: '/adminapr',
            })
            .done(function(e){
                $('.main').html(e);
            });
            
        }

    
