block content
    div(style={"overflow":"auto", "height":"85vh"}, id="div")
        h4 Use this panel to add Sub Course and Topics
        hr
        .row(style={"margin-left":"1%", "width":"96%"})
            .row
                .col-md-4
                    button(onclick="myFunction()" class="btn btn-primary") Click Me
                .col-md-8
                    h6(style={"margin-top":"10px"}) To Add Sub Course(s)
            hr
            div(id="myDIV")
                .row
                    .col-md-6(style={"background-color": "lightblue", "border-color:":"white", "width":"96%"})
                        .salis(style={"width":"98%", "margin-left":"3%","margin-right":"3%", "border":"Solid", "border-color":"blue", "height":"40vh", "overflow": "auto", "margin-top":"3%", "margin-bottom":"3%"})
                            h2(style={"text-align":"center", "margin-top":"2%"}) Add Sub Course
                            hr
                            form(id="scsc")
                                .row(style={"width":"96%", "margin-left":"15px"})
                                    .col-md-3
                                        p(style={"margin-right": "10px"}) Course
                                    .col-md-9
                                        select.custom-select(style={"margin-right": "2%"}, id="cs", name="course", onchange="getSC1()")
                                            option(selected='', value='') Select Course
                                            option(value='ana') Anatomy
                                            option(value='phy') Physiology
                                            option(value='bio') Biochemistry
                                            option(value='fmt') Forensic Medicine and Toxicology
                                            option(value='mcb') Microbiology
                                            option(value='pth') Pathology
                                            option(value='phm') Pharmacology
                                            option(value='ans') Anesthesiology
                                            option(value='cms') Community Medicine
                                            option(value='dav') Dermatology and Venereology
                                            option(value='obg') Obstetrics and Gynecology
                                            option(value='opt') Ophthalmology
                                            option(value='ort') Orthopaedics
                                            option(value='oto') Otorhinolaryngology
                                            option(value='pea') Paediatrics
                                            option(value='psy') Psychiatry
                                            option(value='sgy') Surgery
                                            
                                hr
                                .row(style={"width":"96%", "margin-left":"15px"})
                                    .col-md-3
                                        p(style={"margin-top":"10px",}) Sub Course(s)
                                    .col-md-9
                                        input(type="text" class="form-control" id="scs" name="subCourse" style={"margin-right": "10px"})
                                
                                
                                a(href="javascript:subCourse()" style={"color":"white", "width":"90%", "margin-top":"20px", "margin-right":"20px"} class="btn btn-primary float-right") Add Sub Course(s)
                                
                    
                    .col-md-6(style={"background-color": "lightblue"})
                        h4 Sub Courses Entered
                        hr
                        .row
                            .col-md-4
                                h6(style={"float":"right"}) Course
                            .col-md-8
                                h6(id="cname", style={"float":"left"})
                        hr
                        .row
                            .col-md-4.float-right
                                h6(style={"float":"right"}) Sub Course(s)
                            .col-md-8
                                div(style={"overflow":"auto", "height":"30vh"})
                                    table(id="sctable")
                                        

                
        .row(style={"margin-left":"1%", "width":"96%", "margin-top":"10px"})
            .row
                .col-md-4
                    button(onclick="myFunction2()" class="btn btn-primary") Click Me
                .col-md-8
                    h6(style={"margin-top":"10px", "margin-left":"12px"}) To Add Topic(s)
            hr
            div(id="myDIV2")
                .row
                    .col-md-6(style={"background-color": "lightblue", "border-color:":"white"})
                        .salis(style={"margin-left":"3%","margin-right":"3%", "border":"Solid", "border-color":"blue", "height":"45vh", "margin-top":"3%", "margin-bottom":"3%"})
                            h2(style={"text-align":"center", "margin-top":"2%"}) Add Topic
                            hr
                            form( action="/register" method="post")
                                .row(style={"width":"98%", "margin-left":"15px"})
                                    .col-md-6
                                        p(style={"margin-right": "10px"}) Course
                                        select.custom-select(style={"margin-right": "2%"}, name="course", id="cs1" onchange="getSC()")
                                            option(selected='') Select Course
                                            option(value='ana') Anatomy
                                            option(value='phy') Physiology
                                            option(value='bio') Biochemistry
                                            option(value='fmt') Forensic Medicine and Toxicology
                                            option(value='mcb') Microbiology
                                            option(value='pth') Pathology
                                            option(value='phm') Pharmacology
                                            option(value='ans') Anesthesiology
                                            option(value='cms') Community Medicine
                                            option(value='dav') Dermatology and Venereology
                                            option(value='obg') Obstetrics and Gynecology
                                            option(value='opt') Ophthalmology
                                            option(value='ort') Orthopaedics
                                            option(value='oto') Otorhinolaryngology
                                            option(value='pea') Paediatrics
                                            option(value='psy') Psychiatry
                                            option(value='sgy') Surgery
                                    .col-md-6
                                        p(style={"margin-right": "10px"}) Sub Course
                                        select.custom-select(style={"margin-right": "2%"},  name="SubCourse", id="cs2", onchange="getTopics1()")
                                            option(selected='')  Sub Course
                                            
                                hr
                                .row(style={"width":"98%", "margin-left":"15px"})
                                    .col-md-3
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) Topic(s)
                                    .col-md-9
                                        input(type="text" id= "tp" class="form-control" name="topic" style={"margin-right": "10px"})

                                a(href="javascript:topic()" style={"color":"white", "width":"90%", "margin-top":"20px", "margin-right":"20px"} class="btn btn-primary float-right") Add Topic(s)
                    
                    .col-md-6(style={"background-color": "lightblue"})
                        h4 Topics Entered
                        .row
                            .col-md-4
                                h6(style={"float":"right"}) Course
                            .col-md-8
                                h6(id="cname1", style={"float":"left"})
                        .row
                            .col-md-4
                                h6(style={"float":"right"}) Sub Course
                            .col-md-8
                                h6(id="subc", style={"float":"left"})
                        hr
                        .row
                            .col-md-4.float-right
                                h6(style={"float":"right"}) Topic(s)
                            .col-md-8
                                div(style={"overflow":"auto", "height":"30vh"})
                                    table(id="tptable")

        .row(style={"margin-left":"1%", "width":"96%", "margin-top":"10px"})
            .row
                .col-md-3
                    button(onclick="myFunction3()" class="btn btn-primary") Click Me
                .col-md-9
                    h6(style={"margin-top":"10px"}) To Delete Sub Course(s) and Topic(s)
            hr
            div(id="myDIV3")
                .row
                    .col-md-6(style={"background-color": "lightblue"})
                        .salis(style={"width":"98%", "margin-left":"3%","margin-right":"3%", "border":"Solid", "border-color":"blue", "height":"40vh", "overflow": "auto", "margin-top":"3%", "margin-bottom":"3%"})
                            h2(style={"text-align":"center", "margin-top":"2%"}) Delete Sub Course
                            hr
                            form(id="scsc")
                                .row(style={"width":"96%", "margin-left":"15px"})
                                    .col-md-3
                                        p(style={"margin-right": "10px"}) Course
                                    .col-md-9
                                        select.custom-select(style={"margin-right": "2%"}, id="csd", name="course", onchange="getSCD()")
                                            option(selected='', value='') Select Course
                                            option(value='ana') Anatomy
                                            option(value='phy') Physiology
                                            option(value='bio') Biochemistry
                                            option(value='fmt') Forensic Medicine and Toxicology
                                            option(value='mcb') Microbiology
                                            option(value='pth') Pathology
                                            option(value='phm') Pharmacology
                                            option(value='ans') Anesthesiology
                                            option(value='cms') Community Medicine
                                            option(value='dav') Dermatology and Venereology
                                            option(value='obg') Obstetrics and Gynecology
                                            option(value='opt') Ophthalmology
                                            option(value='ort') Orthopaedics
                                            option(value='oto') Otorhinolaryngology
                                            option(value='pea') Paediatrics
                                            option(value='psy') Psychiatry
                                            option(value='sgy') Surgery
                                            
                                hr
                                .row(style={"width":"96%", "margin-left":"15px"})
                                    .col-md-3
                                        p(style={"margin-top":"10px",}) Sub Course(s)
                                    .col-md-9
                                        select.custom-select(style={"margin-right": "2%"},  name="SubCourse", id="scsd")
                                            option(selected='')  Sub Course
                                
                                a(href="javascript:delSC()" style={"color":"white", "width":"90%", "margin-top":"20px", "margin-right":"20px"} class="btn btn-primary float-right") Delete Sub Course
                        h6(style={"text-align":"center"}, id ="not1")

                    .col-md-6(style={"background-color": "lightblue"})
                        .salis(style={"margin-left":"3%","margin-right":"3%", "border":"Solid", "border-color":"blue", "height":"45vh", "margin-top":"3%", "margin-bottom":"3%"})
                            h2(style={"text-align":"center", "margin-top":"2%"}) Delete Topic
                            hr
                            form( action="/register" method="post")
                                .row(style={"width":"98%", "margin-left":"15px"})
                                    .col-md-6
                                        p(style={"margin-right": "10px"}) Course
                                        select.custom-select(style={"margin-right": "2%"}, name="course", id="csdt1" onchange="getSCDT()")
                                            option(selected='') Select Course
                                            option(value='ana') Anatomy
                                            option(value='phy') Physiology
                                            option(value='bio') Biochemistry
                                            option(value='fmt') Forensic Medicine and Toxicology
                                            option(value='mcb') Microbiology
                                            option(value='pth') Pathology
                                            option(value='phm') Pharmacology
                                            option(value='ans') Anesthesiology
                                            option(value='cms') Community Medicine
                                            option(value='dav') Dermatology and Venereology
                                            option(value='obg') Obstetrics and Gynecology
                                            option(value='opt') Ophthalmology
                                            option(value='ort') Orthopaedics
                                            option(value='oto') Otorhinolaryngology
                                            option(value='pea') Paediatrics
                                            option(value='psy') Psychiatry
                                            option(value='sgy') Surgery
                                    .col-md-6
                                        p(style={"margin-right": "10px"}) Sub Course
                                        select.custom-select(style={"margin-right": "2%"},  name="SubCourse", id="scdtopic", onchange="getTopicsDT()")
                                            option(selected='')  Sub Course
                                            
                                hr
                                .row(style={"width":"98%", "margin-left":"15px"})
                                    .col-md-3
                                        p(style={"margin-top":"10px", "margin-right": "10px"}) Topic
                                    .col-md-9
                                        select.custom-select(style={"margin-right": "2%"},  name="SubCourse", id="topicsdt", onchange="#")
                                            option(selected='')  Topic

                                a(href="javascript:delTopi()" style={"color":"white", "width":"90%", "margin-top":"20px", "margin-right":"20px"} class="btn btn-primary float-right") Delete Topic
            
                                        

block scripts
    script.

        function delTopi() {
            var data = {course: $("#csdt1").val(), topic: $("#topicsdt").val()};
            $.ajax({
                type: 'post',
                url: '/deltopic',
                data: data
            })
            .done(function(e){
                $('#not1').html(e);
            });
        }

        function getTopicsDT() {
            var data = {course: $("#csdt1").val(), SubCourse: $("#scdtopic").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/gettopics',
                data: data,
                
            })
            .done(function(e){
                $.each(e.topics, function(i){
                    var x = document.getElementById("topicsdt");
                    var c = document.createElement("option");
                    c.text = e.topics[i];
                    x.options.add(c, (i+1));
                })
            });
        }

        function getSCDT() {
            var data = {course: $("#csdt1").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getsc',
                data: data,
                
            })
            .done(function(e){
                //window.reloadTable("sctable");
                $.each(e.sc, function(i){
                    var x = document.getElementById("scdtopic");
                    var c = document.createElement("option");
                    c.text = e.sc[i];
                    x.options.add(c, (i+1));
                })
            });
        }

        function delSC() {
            var data = {course: $("#csd").val(), SubCourse: $("#scsd").val()};
            $.ajax({
                type: 'post',
                url: '/delsc',
                data: data
            })
            .done(function(e){
                $('#not1').html(e);
            });
        }

        function getSCD() {
            var data = {course: $("#csd").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getsc',
                data: data,
                
            })
            .done(function(e){
                //window.reloadTable("sctable");
                $.each(e.sc, function(i){
                    var x = document.getElementById("scsd");
                    var c = document.createElement("option");
                    c.text = e.sc[i];
                    x.options.add(c, (i+1));
                })
            });
        }

        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction2() {
            var x = document.getElementById("myDIV2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction3() {
            var x = document.getElementById("myDIV3");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function subCourse() {
            var data = {course: $("#cs").val(), subCourse: $("#scs").val()};
            $.ajax({
                type: 'post',
                url: '/addsc',
                data: data
            })
            .done(function(e){
                $('.div').html(e);
            });
        }

        function getSC() {
            var data = {course: $("#cs1").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getsc',
                data: data,
                
            })
            .done(function(e){
                window.reloadTable("cs2");
                $.each(e.sc, function(i){
                    var x = document.getElementById("cs2");
                    var c = document.createElement("option");
                    c.text = e.sc[i];
                    x.options.add(c, (i+1));
                })
            });
        }

        function getSC1() {
            var data = {course: $("#cs").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getsc',
                data: data,
                
            })
            .done(function(e){
                window.reloadTable("sctable");
                $("#cname").html((e.c).toUpperCase());
                $.each(e.sc, function(i){
                    var table = document.getElementById("sctable");
                    var row = table.insertRow();
                    var cell1 = row.insertCell(0);
                    cell1.innerHTML = e.sc[i];
                })
            });
        }

        function getTopics1() {
            var data = {course: $("#cs1").val(), SubCourse: $("#cs2").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/gettopics',
                data: data,
                
            })
            .done(function(e){
                //$('.div').html(e);
                window.reloadTable("tptable");
                $("#cname1").html((e.c).toUpperCase());
                $("#subc").html((e.sc).toUpperCase());
                $.each(e.topics, function(i){
                    var table = document.getElementById("tptable");
                    var row = table.insertRow();
                    var cell1 = row.insertCell(0);
                    cell1.innerHTML = e.topics[i];
                })
            });
        }
        /*$('#cs2').on('change', function() {
            var data = {course: $("#cs1").val(), SubCourse: $("#cs2").val()};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/getTopics',
                data: data,
                
            })
            .done(function(e){
                $('.div').html(e);
                //window.reloadTable("sctable");
                $("#cname1").html((e.c).toUpperCase());
                $("#subc").html((e.sc).toUpperCase());
                $.each(e.topics, function(i){
                    var table = document.getElementById("tptable");
                    var row = table.insertRow();
                    var cell1 = row.insertCell(0);
                    cell1.innerHTML = e.topics[i];
                })
            });
        });*/

        function topic() {
            var data = {course: $("#cs1").val(), subCourse: $("#cs2").val(), topic: $("#tp").val()};
            $.ajax({
                type: 'post',
                url: '/addtopic',
                data: data
            })
            .done(function(e){
                $('.div').html(e);
            });
        }

        function reloadTable(idd){
            container = document.getElementById(idd);
            container.innerHTML = ""; 
        }