extend layout

block content
    .row(style={"margin-top": "3%", "width":"96%"})
        .col-md-3()
        
        .col-md-6(style={"background-color": "lightblue", "border-color:":"white", "width":"96%"})
            .salis(style={"width":"98%", "margin":"1%", "border":"Solid", "border-color":"blue", "height":"45vh", "overflow": "auto"})
                h2(style={"text-align":"center", "margin-top":"2%"}) Register Past Question
                hr
                form(action="/registerpq", method="post")
                    .row(style={"width":"96%", "margin-left":"15px", "margin-top":"10px"})
                        .col-md-3
                            p(style={"margin-right": "10px"}) Identifier Name
                        .col-md-9
                            input(type="text" class="form-control" id="name" name="name" style={"margin-right": "10px"})
                                
                    .row(style={"width":"96%", "margin-left":"15px", "margin-top":"10px"})
                        .col-md-3
                            p(style={"margin-top":"10px",}) Year
                        .col-md-9
                            input(type="text" class="form-control" id="year" name="year" style={"margin-right": "10px"})

                    .row(style={"width":"96%", "margin-left":"15px"})
                        .col-md-3
                            p(style={"margin-top":"10px",}) Type
                        .col-md-9
                            select.custom-select(style={"margin-right": "10px"}, name="qtype", id="qtype")
                                option(selected='') Select Type
                                option(value='mcq') MCQ
                                option(value='scq') SCQ
                                option(value='essay') Essay

                    button(type='submit' style={"color":"white", "width":"90%", "margin-top":"20px", "margin-right":"20px"} class="btn btn-primary float-right") Register Past Question
                    
        .col-md-3()
                  